*,
:after,
:before {
    box-sizing: border-box
}
html {
    color: #435155;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    line-height: 24px
}
body {
    font-size: 16px;
    line-height: 24px;
    margin: 64px auto
}
h1 {
    color: #000;
    font-size: 64px;
    line-height: 72px;
    margin-top: 24px;
    margin-bottom: 48px
}
h2 {
    color: #000;
    font-size: 40px;
    line-height: 48px;
    margin-top: 24px;
    margin-bottom: 24px
}
h3 {
    color: #000;
    font-size: 25px;
    line-height: 48px;
    margin-top: 24px;
    margin-bottom: 24px
}
h4 {
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 0
}
h5 {
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 0
}
blockquote,
ol,
p,
pre,
table,
ul {
    margin-top: 24px;
    margin-bottom: 24px
}
ol ol,
ol ul,
ul ol,
ul ul {
    margin-top: 0;
    margin-bottom: 0
}
hr {
    border: 0;
    border-bottom: 1px solid #e7e9ed;
    margin: 64px 0
}
a,
b,
code,
em,
i,
small,
strong {
    line-height: 0
}
sub,
sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sup {
    top: -.5em
}
sub {
    bottom: -.25em
}
code {
    line-height: 1.5
}
pre[class*=language-] {
    background: 0 0;
    border-radius: 0;
    font-size: 12px;
    margin: 0;
    padding: 88px 64px 64px;
    position: relative
}
pre[class*=language-]:before {
    color: #6c6e5e;
    left: 16px;
    position: absolute;
    top: 16px
}
pre[class*=language-]+pre[class*=language-] {
    border-top: 1px solid #272822
}
pre[class*=language-html]:before {
    content: 'HTML'
}
pre[class*=language-javascript]:before {
    content: 'JavaScript'
}
pre[class*=language-terminal]:before {
    content: 'Terminal'
}
.s-header {
    align-items: center;
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
    display: flex;
    height: 64px;
    justify-content: space-between;
    left: 0;
    padding: 0 64px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100
}
.s-header__logo {
    height: 48px;
    margin-left: -8px
}
.s-header__link {
    align-items: center;
    color: #435155;
    display: flex;
    padding: 24px 0;
    text-decoration: none
}
.s-header__link-text {
    margin-right: 8px
}
.s-container {
    padding: 64px 0
}
.s-content {
    margin: auto;
    max-width: 800px;
    padding: 0 16px
}
.s-api__col {
    padding: 16px;
    vertical-align: top
}
.s-api__col--name {
    text-align: right
}
.s-docs__title {
    margin: 32px 0 0
}
h2.s-docs__title {
    margin-top: 64px
}
.s-docs__block {
    display: flex;
    flex-wrap: wrap
}
.s-docs__block pre[class*=language-]+pre[class*=language-] {
    border-top: 1px solid #36372f
}
.s-docs__left,
.s-docs__right {
    flex: 1 1 auto;
    padding: 64px 0;
    width: 100%
}
.s-docs__left {
    margin-top: 32px;
    padding-bottom: 32px;
    padding-top: 0
}
.s-docs__right {
    justify-content: center;
    background: #272822;
    display: flex;
    flex-direction: column;
    padding: 0
}
.s-docs__text {
    margin: 0
}
.s-docs__info {
    padding: 32px;
    border-left: 3px solid #5b99ea;
    background: #f9fbfe;
    margin: 32px 0 0
}
@media only screen and (max-width: 900px) {
    h1 {
        font-size: 40px;
        line-height: 48px;
        margin-top: 0;
        margin-bottom: 24px
    }
    h3 {
        line-height: 32px
    }
    pre[class*=language-] {
        padding: 48px 24px 24px
    }
    pre[class*=language-]:before {
        left: 24px;
        top: 0
    }
    .s-header {
        margin-bottom: 24px;
        padding: 0 24px
    }
    .s-container {
        padding: 32px 0 0
    }
    .s-docs__title {
        margin: 32px 0 0
    }
    .s-content {
        padding: 0 24px
    }
    .s-docs__left,
    .s-docs__right {
        width: 100%;
        padding: 24px 0
    }
    .s-docs__info {
        padding: 24px;
        margin: 24px 0 0
    }
}